body {
    background-color: #ADD8E6;
}

p {
    text-align: center;
    color: #191970;
}

h1 { 
    font-family: georgia, arial;
}

a {
  font-weight: bold;
  font-style:italic;
  text-decoration: none; 
}
a:hover {
    text-decoration:underline;
}

ol {
    list-style-type: loweralpha;
}

table
{
    border: 1px solid black;
}

td
{
    text-align:right;
    vertical-align:bottom;
    padding:15px;
}
	
cadre {
  background-color: white;
    height: 840px;
}
